SpecialityWebService/Resources/Vectordata/dfvejedatalarge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://ogr.maptools.org/"
    xmlns:ogr="http://ogr.maptools.org/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
    elementFormDefault="qualified"
    version="1.0">
<xs:annotation>
  <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
    <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
  </xs:appinfo>
</xs:annotation>
<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
<xs:import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:AbstractFeature"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="featureMember">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="gml:AbstractFeatureMemberType">
                <xs:sequence>
                  <xs:element ref="gml:AbstractFeature"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="dfvejedatalarge" type="ogr:dfvejedatalarge_Type" substitutionGroup="gml:AbstractFeature"/>
<xs:complexType name="dfvejedatalarge_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:MultiCurvePropertyType" nillable="true" minOccurs="0" maxOccurs="1"/> <!-- restricted to MultiLineString --><!-- srsName="urn:ogc:def:crs:EPSG::25832" -->
        <xs:element name="objectid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_lokalid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="id_namespa" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tempid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="g_status" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="virk_fra" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="virk_til" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="virk_akt" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reg_fra" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reg_til" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reg_akt" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="f_omr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="f_haendels" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="f_proces" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="status" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reg_spec" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dataansvar" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="p_noej" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="v_noej" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="p_smetode" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="v_smetode" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="kommentar" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="app" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vejmidtety" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vejmyndigh" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cvfadmnr" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="kommunekod" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vejkode" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vejkategor" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="trafikart" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="niveau" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="overflade" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tilogfrako" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="rundkoerse" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="gmlid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="layer" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="path" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="254"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
